services:
  flask:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: flask-backend
    restart: always
    ports:
      - "5050:5050"
    environment:  
      DATABASE_URL: ${DATABASE_URL}

  frontend:
    build: ./frontend
    container_name: react-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - flask
