* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Google Sans", "Noto Sans", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202124;
  color: #fff;
}

#root {
  min-height: 100vh;
}
